<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="ru">
<head>
    <title>Корзина</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<h1>Все заказы</h1>
<div th:each="basket : ${baskets}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${'Количество заказанного товара: '+basket.quantity}"/>
            <p class="text-gray-700 text-base" th:text="${'Дата заказа: '+basket.order.data}"></p>
            <p class="text-gray-700 text-base" th:text="${'Название товара: '+basket.products.titleproducts}"></p>
            <p class="text-gray-700 text-base" th:text="${'Стоимость товара: '+basket.products.cost+' руб'}"></p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600" th:href="'/adminProducts/main/del/'+${basket.id}"
               sec:authorize="isAuthenticated()">Удалить</a>
        </div>
    </div>
</div>
</body>
</html>