<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Добавление статуса</title>
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<div align="center" class="w-full max-w-xs">
    <form th:action = "${'/adminOrderStatus/add'}" method="post" th:object="${orderStatus}"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               th:field="*{name}" style="width: 250px; height: 40px; margin-top: 30px" type="text" name="name" placeholder="Введите статус">
        <div style="width: 250px; height: 40px; margin: 2px; color: red" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div><br>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Добавить статус</button>
    </form>
</div>

</body>
</html>