<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Cтатусы заказов</title>
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<h1>Все статусы</h1>
<a class="underline text-blue-600" href="/adminOrderStatus/add" sec:authorize="isAuthenticated()">Добавить статус</a>
<div th:each="stat : ${status}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${stat.name}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600" th:href="'/adminOrderStatus/edit/'+${stat.id}"
               sec:authorize="isAuthenticated()">Редактировать</a>
            <a class="underline text-blue-600" th:href="'/adminOrderStatus/del/'+${stat.id}"
               sec:authorize="isAuthenticated()">Удалить</a>
        </div>
    </div>
</div>

<!--<div align="center">-->
<!--    <h2>Статусы заказов</h2>-->
<!--    <div th:each="el : ${status}">-->
<!--        <div class="max-w-sm rounded overflow-hidden shadow-lg">-->
<!--            <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2" th:text="${'Cтатус: '+el.getName()}"></div>-->
<!--            </div>-->
<!--        <div class="px-6 pt-4 pb-2">-->
<!--        <a class="underline text-blue-600" th:href="'/adminOrderStatus/edit/'+${el.id}">Редактировать</a>-->
<!--        <a class="underline text-blue-600" th:href="'/adminOrderStatus/del/' + ${el.id}">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <a class="underline text-blue-600" href="/adminOrderStatus/add" style="font-size: 20px">Добавить статус</a>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>