<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Создание заказа</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<div class="w-full max-w-xs">
    <form th:action="${'/orderSotr/add'}" method="post" th:object="${order}"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Выберите клиента</label>
<!--          th:field="*{clientes}"  <div style="color: red" th:if="${#fields.hasErrors('clientes')}" th:errors="*{clientes}"></div>-->
            <select th:field="*{client}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="author">
                <option th:each="client : ${client}"
                        th:value="${client.id}"
                        th:text="${client.surname}">
                </option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Статус заказа</label>
<!--           th:field="*{orderStatuses}" <div style="color: red" th:if="${#fields.hasErrors('ordersStatus')}" th:errors="*{orderStatuses}"></div>-->
            <select th:field="*{orderStatus}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="author">
                <option th:each="ordStat : ${orderStatus}"
                        th:value="${ordStat.id}"
                        th:text="${ordStat.name}">
                </option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Дата заказа</label>
            <div style="color: red" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></div>
            <input th:field="*{data}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="date" name="data">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Примечание к заказу</label>
            <div style="color: red" th:if="${#fields.hasErrors('noter')}" th:errors="*{noter}"></div>
            <textarea th:field="*{noter}"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="text" name="noter" placeholder="Введите примечание"></textarea>
        </div>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Создать заказ
        </button>
    </form>
</div>
</body>
</html>