<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:value="${order.client.surname}"></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="${'Фамилия клиента: '+order.client.surname}"/>
        <div class="font-bold text-xl mb-2" th:text="${'Статус заказа: '+order.orderStatus.name}"/>
        <div class="font-bold text-xl mb-2" th:text="${'Дата заказа: '+order.data}"/>
        <div class="font-bold text-xl mb-2" th:text="${'Примечание заказа: '+order.noter}"/>
    </div>
</div>
</body>
</html>