<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title th:value="${'Редактирование тип товара '+productType.name}"></title>
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<div align="center">
    <h1>Изменение типа товара</h1>
    <form th:action="${'/adminProductType/edit/'+productType.id}" method="post" th:object="${productType}">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Выберите категорию товара</label>
            <select th:field="*{productCategory}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="author">
                <option th:each="product : ${productCategory}"
                        th:value="${product.id}"
                        th:text="${product.name}">
                </option>
            </select>
        </div>

        <input th:field="*{name}" style="display: list-item" th:value="${productType.name}" type="text" name="name" placeholder="Введите тип товара">
        <div th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div><br>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>